<ion-view>
	<ion-nav-bar class="bar-assertive">
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-heart"></button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-header-bar class="bar-assertive">
		<div class="title"><center>Latest Post</center></div>
	</ion-header-bar>

	<div class="bar bar-subheader item-input-inset">
		<label class="item-input-inset">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search..." ng-model="searchText"/>
		</label>
	</div>

	<ion-content class="has-subheader">
		<ion-list can-swipe="true">
			<ion-item class="item item item-thumbnail-left item-text-wrap item-icon-right">
				<img src="http://lorempixel.com/64/64"/>
				<h2>Judul biasa saja </h2>
				<p>ini isinya bebas bisa apa saja tergantung anda mau ngetik apa dan di mana serta sama siapa. tidak harus banyak tapi cukup lumayan buat bikin bingung pembacanya.</p>
			
				<ion-option-button class="button-dark">
					<i class="icon ion-heart"></i>
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>